<nav>
  <ul>
    <li>
      <a href="{{path('home')}}">Accueil</a>
    </li>
    <li>
      <a href="{{path('contact')}}">Contact</a>
    </li>
    <li>
      <a href="{{path('products_list')}}">Produits</a>
    </li>
    <li>
      <a href="{{path('newsletter_subscribe')}}">Subscribe Newsletter</a>
    </li>
    <li>
      <a href="{{path('login')}}">Login</a>
    </li>
    <li>
      <a href="{{path('signup')}}">Sign Up</a>
    </li>
  </ul>
</nav>
